# ==================================================================================================================== #
# Package Manager

# Cargo
**/target

# ==================================================================================================================== #
# Environment Variables and Secrets

# Environment Variable Files
.env
*.env
*.env.*
!*.example.env*
!*.env.example

# ==================================================================================================================== #
# Terraform/OpenTofu

.terraform
.terraform.lock.hcl
*.tfstate
*.tfstate.backup

# ==================================================================================================================== #
