# ==================================================================================================================== #
# Default

*               text=auto eol=lf

# ==================================================================================================================== #
# File Extension Specific

*.rs            text diff=rust
*.toml          text diff=toml
Cargo.lock      text

# ==================================================================================================================== #

